html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-left: 120px;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.description {
    width: 700px;
}

.staffLogin {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: auto;
}

.modal-content {
    background-color: #f4f4f4;
    margin: 10% auto;
    width: 20%;
    animation-name: modalOpen;
    animation-duration: 0.5s;
}

.modal-header{
    padding: 10px;
    border: 2px solid black;
    border-bottom: none;
    text-align: center;
}

.modal-header h2 {
    margin: 0;
}

.modal-body {
    padding: 10px;
    border: 2px solid black;
    text-align: center;
}

.loginInput {
    margin: 10px;
    margin-left: 0px;
    width: 90%;
}

.login {
    margin-bottom: 10px;
}

.closeBtn {
    float: right;
    color: #ccc;
    font-size: 20px;
}

.closeBtn:hover,.closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalOpen {
    from { opacity: 0 }
    to { opacity: 1 }
}

/*Student Management*/

.student_table {
    width: 80%;
    margin-left: 10%;
    border: 2px solid black;
    padding: 20px;
}

td, th {
    padding: 10px;
}

.addStudentBtn {
    margin-top: 15px;
}

.studentTitle {
    font-size: 84px;
    margin-left: 230px;
    margin-top: 10px;
}

td p {
    display: inline;
}

.hidden{
    display: none;
}

label {
    font-size: large;
    font-weight: bold;
    color: black;
}

#existIndicator {
    color: red;
}